.navigation {
  display: flex;
  flex-direction: row;
  gap: 38px;
  justify-content: center;
  margin-top: 12px;
  width: auto;
  margin-left: 65px;
 position: relative;

}

.navItem {
  display: inline-block;
  width: auto;

}

.linkText {
  display: none;

}

.linkIcon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;

}

.active .linkIcon::before {
  background-color: var(--text-color);
  box-shadow: 0 0 10px rgba(74, 86, 226, 0.3);
}

.linkIcon::before {
  content: '';
  display: block;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.3s ease;
}

.homeIcon,
.graphicIcon,
.dollarIcon {
  fill: rgba(255, 255, 255, 0.4);
  transition: fill 0.3s ease;
}

.active .homeIcon,
.active .graphicIcon,
.active .dollarIcon {
  fill: rgb(74, 86, 226);
}

.navLink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  width: auto;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: column;
    gap: 12px;
    align-self: start;
    margin-left: 30px;
    margin-top: 40px;
    width: auto;
  }

  .navItem {
    width: auto;
  }

  .navLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    width: auto;
    padding: 8px 12px;
    margin: 0;
    border-radius: 8px;
  }

  .navLink:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .currencyLink {
    display: none;
  }

  .linkText {
    display: block;
    color: rgba(251, 251, 251, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    transition: all 0.3s ease;
  }

  .navLink.active .linkText {
    font-weight: 700;
    font-size: 20px;
  }

  .navLink.active .linkIcon {
    border-radius: 4px;
  }

  .navLink:not(.active):hover > .linkText {
    color: rgba(255, 255, 255, 0.8);
  }

  .linkIcon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .navigation {
    margin-bottom: 28px;
    margin-left: 40px;
  }

  .navLink {
    padding: 10px 16px;
  }
}

@media (hover: hover) {
  .active:hover .linkIcon::before,
  .active:focus .linkIcon::before {
    background-color: rgb(74, 86, 226);
    box-shadow: 0 0 15px rgba(74, 86, 226, 0.4);
  }

  .navLink:hover .homeIcon,
  .navLink:focus .homeIcon,
  .navLink:hover .graphicIcon,
  .navLink:focus .graphicIcon,
  .navLink:hover .dollarIcon,
  .navLink:focus .dollarIcon {
    fill: var(--text-color);
  }
}
