.wrapper {
    width: 100%;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25),
    inset 0 -3px 2px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);

  }
  
  .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;

  }
  
  .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  
  }
  
  .right {
 display: flex;
  align-items: center;

  }
  
  .user {

margin-right: 0.5rem;
  font-size: 15px;
  color: var(--white);
  opacity: 0.8;

  }
  
  .exitButton {
  font-family: 'Poppins', sans-serif;
display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  font-weight: 400;
  font-size: 15px;
  color: var(--white-600);
  background: transparent;
  border: none;
  cursor: pointer;


  }
  
@media (max-width: 768px) {
  .left {
    padding: 0.5rem 1rem;
  }

  .logo {
    font-size: 15px;
  }

  .user {
    font-size: 14px;
  }

  .exitButton {
    font-size: 14px;
  }
  .headerLine {
    display: none;
  }
  .headerExit {
    display: none;
  }
  .user {
    margin-right: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .left {
    max-width: 774px; /* 710px content + 32px padding each side */
    padding: 1rem 32px;
  }
}

