.heading {
  margin-top: 32px;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
}

/* MOBILE ONLY */
@media only screen and (max-width: 767.98px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .heading {
    align-self: flex-start;
    margin-top: 28px;
    font-size: 24px;
  }
  .column {
    width: 100%;
    max-width: 480px;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: flex-start;
    gap: 120px;
    padding: 0;
  }
  .column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
  .column:last-child {
    margin-top: 20px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .container {
    padding: 0;
    margin-left: 60px;
  }
  .column {
    width: 100%;
  }
  .column:last-child {
    margin-top: 0;
  }
}
