/* src/components/Statistics/StatisticsDashboard.module.css */
.statisticsContainer {
    position: absolute;
    width: 395px;
    height: 607px;
    top: 247px;
    left: 869px;

    border-radius: 8px;
    padding: 10px;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.filtersRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
}

.tableWrapper {
    overflow-y: auto;
    height: calc(100% - 60px);
    /* 607 - filtersRow */
}